*{
    color: #ffffff;
    background-color: #181a1b;
}

.value{
    border-color: #8C8273;
    background-color: #291B1B;
}

.delete{
    background-color: #212425;

}

#FSubmit{
    background-color: #212425;
}