#scoreBoard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.BNumbers{
    font-size: 5vh;
    padding: 2vh;
    text-align: center;
}