<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/esp.css">
    <title>Weather</title>
</head>
<body>
    <p class="titles">Data form the ESP8266 chip</p>
    <div id="scoreBoard">
        <div id="temp" class="BNumbers">
            <p>Temperature</p>
            <%= esp[esp.length - 1].temperature %>ºC
        </div>
        <div id="separator" style="border: 2px solid #000;height: 20vh;"></div>
        <div id="hum" class="BNumbers">
            <p>Humidity</p>
            <%= esp[esp.length - 1].humidity %>%
        </div>
    </div>
    <div style="display: flex;justify-content: center;">
        <div id="stats">
            <% if (esp.length > 0) { %>
                <p class="titles">Other statistics from the data colected:</p>
                <div class="block"><p>Number of stored values:</p>&nbsp; <%= esp.length %></div>
                
            <% } else {%>
                <p class="titles">No data has been sent</p>
            <% } %>
            
        </div>
    </div>
    <%- include('./footer.ejs') %>
</body>
</html>