<div id="footer" style="border: 1px solid ;">
    <div id="dMode" style="display:flex;flex-direction:row;padding: 1vw;">
        <p id="text" style="margin: 0;">Activate Dark Mode:</p>
        <input type="checkbox" id="check" onclick="changeStatus()"></input>
    </div>
</div>
<script src="./js/darkmode.js"></script>