<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<body>
    <h1>Welcome to Magnitopic's Web Experiments</h1>
    <ul>
        <li><a href="/dice"><h2>Dice</h2></a></li>
        <li><a href="/pixel"><h2>Dead Pixel Checker</h2></a></li>
        <li><a href="/esp"><h2>ESP8266 thermometer</h2></a></li>
        <li><a href="/map"><h2>Google Maps</h2></a></li>
        <li><a href="/carburantes"><h2>Precios aztualizados de carburantes por españa</h2></a></li>
        <li><a href="/apod"><h2>Nasa's APOD</h2></a></li>
    </ul>
    <%- include('./footer.ejs') %>
</body>

</html>