<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>World Map</title>
    <script src="https://unpkg.com/elm-pep"></script>
    <style>
        .map {
            height: 98.8vh;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map" class="map"></div>

    <script>
        function initMap(){
            let opctions={
                zoom:8,
                center:{lat:42.3601,lng:-71.0589}
            }

            let map=new google.maps.Map(document.getElementById('map'),opctions)
        }
    </script>
    <script require('dotenv').config() async
        src="https://maps.googleapis.com/maps/api/js?key=process.env.GOOGLE_API_KEY&callback=initMap">
        </script>
</body>

</html>