<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>World Map</title>
    <script src="https://unpkg.com/elm-pep"></script>
    <style>
        .map {
            height: 98.8vh;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map" class="map"></div>
    <script src="js/map.js"></script>
</body>

</html>