<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/pixel.css">
</head>
<body>
	<div id="content">
		<h1>Wellcome to the dead pixel checker</h1>
		<h2>How does it work?</h2>
		<p>Very simple, when you press the <i>Start</i> button your screen will change between five colours: white, black, green, blue and red. <br>
		This will alow you check that your screen is working properly and that no pixels have stopped working.</p> 
		 <input type="button" value="Let's Start!!" id="startButton">
	</div>
	<%- include('./footer.ejs') %>
</body>
</html>